<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      
      <input
        type="text"
        class="form-control"
        placeholder="Search by full name"
        [(ngModel)]="fullName"
      />

      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchByFullName()"
        >
          Search Contact
        </button>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <h4>Contacts List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let contact of contacts; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveContact(contact, i)"
      >
        {{ contact.fullName }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllContacts()">
      Remove All
    </button>

  </div>

  <div class="col-md-6">
    <div *ngIf="currContact">
      <h4>Contact</h4>
      <div>
        <label><strong>Full Name :</strong></label> {{ currContact.fullName }}
      </div>
      <div>
        <label><strong>Mobile Number :</strong></label>
        {{ currContact.mobileNumber }}
      </div>
      <div>
        <label><strong>Date Of Birth :</strong></label>
        {{ currContact.dateOfBirth | date }}
      </div>

      <a class="badge-warning" routerLink="/contact/{{ currContact.uuid }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currContact">
      <br />
      <p>Please click on a Contact</p>
    </div>
  </div>
</div>